.footer-16371 {
	/* padding: 7rem 0; */
	font-family: 'Poppins', sans-serif;
}
.footer-16371 .footer-site-logo {
	text-align: center;
	font-size: 2rem;
	font-weight: 900;
}
.footer-16371 .footer-site-logo a {
	color: var(--light-slate);
}
.footer-16371 .nav-links {
	padding: 0;
	margin: 0;
}
.footer-16371 .nav-links li {
	display: inline-block;
	font-size: var(--fz-md);
}
.footer-16371 .nav-links li a {
	padding-right: 22px;
	color: var(--light-slate);
}
.footer-16371 .social h3 {
	font-weight: bold;
	font-size: 18px;
	color: var(--green);
}
.footer-16371 .social ul li {
	display: inline-block;
}
.footer-16371 .social ul li a {
	display: inline-block;
	padding: 10px;
}
.footer-16371 .copyright {
	color: var(--light-slate);
}
.footer-16371 ul {
	margin-top: 5px;
}
.footer-16371 .nav-links li a:hover {
	color: var(--green);
}
.separator {
	background-color: var(--light-slate);
	width: 85%;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
