#spinner-loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: var(--admin-panel-cards-bg);
	overflow: hidden;
}
#spinner-loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #16a085;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}
#spinner-loader:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	animation: spin-reverse 0.6s linear infinite;
}
#spinner-loader:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	animation: spin 1s linear infinite;
}

/* Loaded styles */
#spinner-loader-wrapper.spin-loaded {
	opacity: 0;
	transition: all 1s ease-out;
}
