:root {
	--dark-navy: #020c1b;
	--navy: #0a192f;
	--light-navy: #112240;
	--lightest-navy: #233554;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--white: #e6f1ff;
	--green: #64ffda;
	--green-tint: rgba(100, 255, 218, 0.1);
	/*---------- Dark Theme ---------------  */
	--primary: var(--navy);
	--dark-primary: var(--dark-navy);
	--light-primary: var(--light-navy);
	--secondary: var(--navy);
	--tertiary: var(--lightest-navy);

	--color-primary: var(--slate);
	--color-secondary: var(--lightest-slate);
	--color-tertiary: var(--light-slate);
	--color-bold: var(--green);
	--color-input-error: #fff30e;

	--outline-btn: 1px solid var(--green);
	--outline-btn-bg: transparent;
	--outline-btn-color: var(--green);

	--filled-btn-bg: var(--green);
	--filled-btn-color: var(--light-navy);

	--list-color: var(--green);

	--side--bar-color: var(--light-slate);

	--font-sans: 'Montserrat', sans-serif;
	--font-mono: 'Montserrat', sans-serif;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 32px;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	--hamburger-width: 30px;
	--ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
	--ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	--ham-after: bottom 0.1s ease-in 0.25s,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ham-after-active: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}
* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--dark-slate) var(--navy);
	font-family: var(--font-sans);
	transition: background-color 0.5s ease, color 0.1s ease;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
::selection {
	background-color: var(--lightest-navy);
	color: var(--lightest-slate);
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--dark-slate);
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: var(--navy);
}
body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	background-color: var(--navy);
	color: var(--lightest-slate);
	font-family: var(--font-sans);
	font-size: var(--fz-xl);
	line-height: 1.3;
	/* height: 500vh; */
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}
body.blur {
	overflow: hidden;
}
body.blur #content > * {
	filter: blur(5px) brightness(0.7);
	transition: var(--transition);
	pointer-events: none;
	user-select: none;
}
strong {
	font-weight: 800;
	color: var(--color-bold);
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a[target='_blank'] {
	cursor: ne-resize;
}
a {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: inherit;
	position: relative;
	transition: var(--transition);
}
a:hover,
a:focus {
	color: var(--color-bold);
	text-decoration: none;
}
p > span.a,
a.a {
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	position: relative;
	transition: var(--transition);
	color: var(--color-bold);
}
p > span.a::after,
a.a::after {
	content: '';
	display: block;
	width: 0px;
	height: 1px;
	position: relative;
	bottom: 0.37em;
	background-color: var(--color-bold);
	transition: var(--transition);
	opacity: 0.5;
}
img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}
svg {
	fill: currentcolor;
	vertical-align: middle;
}
button {
	cursor: pointer;
	border: 0px;
	border-radius: 0px;
}
section {
	margin: 0px auto;
	padding: 50px 0px;
	max-width: 1000px;
	min-height: 95vh;
}
section:focus,
main:focus,
div:focus {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 10px;
	font-weight: 600;
	color: var(--color-secondary);
	line-height: 1.1;
}
p:last-child,
p:last-of-type {
	margin: 0px;
}
p {
	margin: 0px 0px 15px;
	font-size: var(--fz-lg);
}
p.text-input-error {
	color: var(--color-input-error);
	font-size: 12px;
	line-height: 16px;
	margin: 0;
	margin-top: 4px;
}
p.support-text {
	font-size: 12px;
}
main {
	margin: 0px auto;
	width: 100%;
	max-width: 1600px;
	min-height: 100vh;
	padding: 200px 150px;
}
main.fillHeight {
	padding: 0px 150px;
}
.main {
	counter-reset: section 0;
}

.hidden {
	visibility: hidden !important;
}
.d-none {
	display: none !important;
}

.big-heading {
	text-align: center;
	font-size: 4rem;
}

@media (max-width: 1080px) {
	main {
		padding: 200px 100px;
	}
	main.fillHeight {
		padding: 0px 100px;
	}
}
@media (max-width: 768px) {
	.big-heading {
		margin-left: 15px;
	}
}
@media (max-width: 480px) {
	section {
		padding: 60px 0px;
	}
	body {
		font-size: var(--fz-md);
	}
	p {
		font-size: var(--fz-md);
	}
	/* Main Section */
	main {
		padding: 125px 25px;
	}
	main.fillHeight {
		padding: 0px 25px;
	}
	.big-heading {
		font-size: 2rem;
	}
}
@media (max-width: 415px) {
	section {
		min-height: 90vh;
	}
}
@media (max-width: 320px) {
	main.fillHeight {
		margin-top: 80px;
	}
	.big-heading {
		margin-bottom: 15px !important;
	}
}
