@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
:root {
	--dark-navy: #020c1b;
	--navy: #0a192f;
	--light-navy: #112240;
	--lightest-navy: #233554;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--white: #e6f1ff;
	--green: #64ffda;
	--green-tint: rgba(100, 255, 218, 0.1);
	/*---------- Dark Theme ---------------  */
	--primary: var(--navy);
	--dark-primary: var(--dark-navy);
	--light-primary: var(--light-navy);
	--secondary: var(--navy);
	--tertiary: var(--lightest-navy);

	--color-primary: var(--slate);
	--color-secondary: var(--lightest-slate);
	--color-tertiary: var(--light-slate);
	--color-bold: var(--green);
	--color-input-error: #fff30e;

	--outline-btn: 1px solid var(--green);
	--outline-btn-bg: transparent;
	--outline-btn-color: var(--green);

	--filled-btn-bg: var(--green);
	--filled-btn-color: var(--light-navy);

	--list-color: var(--green);

	--side--bar-color: var(--light-slate);

	--font-sans: 'Montserrat', sans-serif;
	--font-mono: 'Montserrat', sans-serif;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 32px;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	--hamburger-width: 30px;
	--ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
	--ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	--ham-after: bottom 0.1s ease-in 0.25s,
		transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ham-after-active: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}
* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--dark-slate) var(--navy);
	font-family: var(--font-sans);
	transition: background-color 0.5s ease, color 0.1s ease;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
::selection {
	background-color: var(--lightest-navy);
	color: var(--lightest-slate);
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--dark-slate);
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: var(--navy);
}
body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	background-color: var(--navy);
	color: var(--lightest-slate);
	font-family: var(--font-sans);
	font-size: var(--fz-xl);
	line-height: 1.3;
	/* height: 500vh; */
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}
img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

section {
	margin: 0px auto;
	padding: 50px 0px;
	max-width: 1000px;
	min-height: 95vh;
}
section:focus,
main:focus,
div:focus {
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 10px;
	font-weight: 600;
	color: var(--color-secondary);
	line-height: 1.1;
}

main {
	margin: 0px auto;
	width: 100%;
	max-width: 1600px;
	min-height: 100vh;
	padding: 200px 150px;
}
main.fillHeight {
	padding: 0px 150px;
}
.main {
	counter-reset: section 0;
}

.hidden {
	visibility: hidden !important;
}
.d-none {
	display: none !important;
}

.big-heading {
	text-align: center;
	font-size: 4rem;
}

#footer-text {
	width: 100%;
	position: absolute;
	bottom: unset !important;
	text-align: center;
	font-size: var(--fz-md);
	/* margin-bottom: 5px; */
	background-color: var(--dark-navy);
	color: var(--lightest-slate);
	padding: 15px;
	z-index: 0;
}
#footer-text a {
	cursor: pointer;
}

#spinner-loader-wrapper {
	height: 98%;
	background-color: unset;
}
.hello {
	opacity: 1 !important;
}
.full {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}
.full .content {
	background-color: rgba(0, 0, 0, 0.75) !important;
	height: 100%;
	width: 100%;
	display: grid;
	position: relative;
}
.full .content img {
	left: 50%;
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	max-height: 90vh;
	margin: auto;
}
.full .content img.landscape {
	max-width: 70%;
	animation: zoominlandscape 1s ease;
}
.full .content img.portrait {
	max-width: 30%;
	animation: zoominportrait 1s ease;
}

.byebye {
	opacity: 0;
}
.byebye:hover {
	transform: scale(0.2) !important;
}
.gallery {
	display: grid;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 8px;
}
.gallery img {
	max-width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 16px #333;
	transition: all 1.5s ease;
}
.gallery img:hover {
	box-shadow: 0 0 32px #333;
}
.gallery .content {
	padding: 4px;
	position: relative;
}
.gallery .gallery-item {
	transition: grid-row-start 300ms linear;
	transition: transform 300ms ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
.gallery .gallery-item:hover {
	transform: scale(1.025);
}
.hidden {
	display: none;
}
.close {
	cursor: pointer;
	position: fixed;
	top: 3%;
	right: 2%;
	z-index: 2;
	font-size: 27px;
	color: #64ffda;
}
.gradient:before {
	content: '';
	display: block;
	position: absolute;
	height: 0%;
	width: 98%;
	border-radius: 8px;
	bottom: 0;
	transition: height 0.3s ease-out;
	background: linear-gradient(to bottom, transparent 40%, #64ffda 100%);
}
.gradient:hover:before {
	height: 100%;
	width: 98%;
}

/* ---------------------- Keyframes ----------------------- */
@-moz-keyframes zoominlandscape {
	0% {
		max-width: 20%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 40%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 70%;
		transform: rotate(0deg);
	}
}
@-webkit-keyframes zoominlandscape {
	0% {
		max-width: 20%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 40%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 70%;
		transform: rotate(0deg);
	}
}
@-o-keyframes zoominlandscape {
	0% {
		max-width: 20%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 40%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 70%;
		transform: rotate(0deg);
	}
}
@keyframes zoominlandscape {
	0% {
		max-width: 20%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 40%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 70%;
		transform: rotate(0deg);
	}
}

@-moz-keyframes zoominportrait {
	0% {
		max-width: 10%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 20%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 30%;
		transform: rotate(0deg);
	}
}
@-webkit-keyframes zoominportrait {
	0% {
		max-width: 10%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 20%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 30%;
		transform: rotate(0deg);
	}
}
@-o-keyframes zoominportrait {
	0% {
		max-width: 10%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 20%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 30%;
		transform: rotate(0deg);
	}
}
@keyframes zoominportrait {
	0% {
		max-width: 10%;
		transform: rotate(-30deg);
		filter: blur(4px);
	}
	30% {
		filter: blur(4px);
		transform: rotate(-80deg);
	}
	70% {
		max-width: 20%;
		transform: rotate(45deg);
	}
	100% {
		max-width: 30%;
		transform: rotate(0deg);
	}
}

@keyframes moveUp {
	0% {
		bottom: -200px;
		opacity: 0;
	}
	100% {
		bottom: 0px;
		opacity: 1;
	}
}
@keyframes moveDown {
	0% {
		top: -60px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

/* --------------------Media Queries -------------------- */
@media (hover: none) {
	.byebye:hover {
		transform: none;
	}
	.gallery img:hover {
		box-shadow: none;
	}
	.gallery .gallery-item:hover {
		transform: none;
	}
	.gradient:hover:before {
		height: 100%;
	}
	/* .gallery-item.full .gradient:before {
		height: 100%;
	} */
}
@media (max-width: 1080px) {
	.full .content img.portrait {
		max-width: 80%;
	}
	main {
		padding: 200px 100px;
	}
	main.fillHeight {
		padding: 0px 100px;
	}

	@-moz-keyframes zoominportrait {
		0% {
			max-width: 25%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 30%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 80%;
			transform: rotate(0deg);
		}
	}
	@-webkit-keyframes zoominportrait {
		0% {
			max-width: 25%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 30%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 80%;
			transform: rotate(0deg);
		}
	}
	@-o-keyframes zoominportrait {
		0% {
			max-width: 25%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 30%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 80%;
			transform: rotate(0deg);
		}
	}
	@keyframes zoominportrait {
		0% {
			max-width: 25%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 30%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 80%;
			transform: rotate(0deg);
		}
	}
}
@media (max-width: 768px) {
	section {
		padding: 80px 0px;
	}
	/* Main Section */
	main {
		padding: 150px 50px;
	}
	main.fillHeight {
		padding: 0px 50px;
	}
	#events-gallery {
		margin-top: 80px;
	}
	.big-heading {
		margin-left: 15px;
	}
	.full .content img.landscape {
		max-width: 80%;
	}
}
@media (max-width: 600px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	}
}
@media (max-width: 540px) {
	#events-gallery {
		margin-top: 40px;
	}
	.full .content img.landscape {
		max-width: 90%;
	}
}
@media (max-width: 480px) {
	section {
		padding: 60px 0px;
	}
	body {
		font-size: var(--fz-md);
	}
	p {
		font-size: var(--fz-md);
	}
	/* Main Section */
	main {
		padding: 125px 25px;
	}
	main.fillHeight {
		padding: 0px 25px;
	}
	#footer-mobile {
		background-color: #f5d1bd;
		padding: 10px;
		margin-bottom: 0;
	}
	#footer-text.short-form {
		margin-top: -50px;
		bottom: 10px;
	}
	#footer-text.team {
		margin-top: 0px !important;
		bottom: 2px;
	}
}
@media (max-width: 415px) {
	section {
		min-height: 90vh;
	}
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	}
	.full .content img.landscape {
		max-width: 100%;
	}
	@-moz-keyframes zoominlandscape {
		0% {
			max-width: 50%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 50%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 100%;
			transform: rotate(0deg);
		}
	}
	@-webkit-keyframes zoominlandscape {
		0% {
			max-width: 50%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 50%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 100%;
			transform: rotate(0deg);
		}
	}
	@-o-keyframes zoominlandscape {
		0% {
			max-width: 50%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 50%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 100%;
			transform: rotate(0deg);
		}
	}
	@keyframes zoominlandscape {
		0% {
			max-width: 50%;
			transform: rotate(-30deg);
			filter: blur(4px);
		}
		30% {
			filter: blur(4px);
			transform: rotate(-80deg);
		}
		70% {
			max-width: 50%;
			transform: rotate(45deg);
		}
		100% {
			max-width: 100%;
			transform: rotate(0deg);
		}
	}
}
@media (max-width: 320px) {
	main.fillHeight {
		margin-top: 80px;
	}
	.big-heading {
		margin-bottom: 15px !important;
	}
}
